<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.prime.com.tr/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>MyFreeCssTemplates.com free CSS template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="styles.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="lib/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="lib/jquery.tools.js"></script>
</head>
<body>
	<div id="bg_top">
        <div id="menu">
          <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#" class="last_menu">Contact Us</a></li>
          </ul>
          <div class="clear"></div>
        </div>
        <div id="prew_box">
            
			<div class="scrollable">
				<div class="items">
					<div class="item">
					  <div class="header1">
					  
					  <img src="images/prew_img1.jpg" alt="" title="" />
					  					
					</div> 
           
					</div> <!-- item -->
					<div class="item">
					    <div class="header2">
						
						   <img src="images/prew_img2.jpg" alt="" title="" />
	
						
						</div>						
					</div> <!-- item -->
					<div class="item">
					    <div class="header3">
						
						   <img src="images/prew_img3.jpg" alt="" title="" />
						
						</div>						
					</div> <!-- item -->
					
					<div class="item">
					    <div class="header4">
						
						   <img src="images/prew_img4.jpg" alt="" title="" />
						
						</div>						
					</div> <!-- item -->											
					
				</div> <!-- items -->
			</div> <!-- scrollable -->
			<div style="height: 10px"></div>
			<div class="navi"></div> <!-- create automatically the point dor the navigation depending on the numbers of items -->		   
			  
                <div style="clear: both"></div>
			
        </div>       
    </div>
	<div id="content_bg">
	
	
	<h:commandButton value="qsdqsd" action="" />
	
    </div>



    <div id="footer_top">
						<div id="footer_column1">
							<h3>Recent posts</h3>
							<div class="footer_text">
								<p><a href="#">Suspendisse rutrum interdum lacinia.</a>
								Suspendisse tempus aliquet elit sit amet pellentesque. Donec iaculis pulvinar mauris, ac vulputate justo pretium quis. </p>
								<br />
								<p><a href="#">Quisque luctus, mi ornare malesuada</a>
								Suspendisse tempus aliquet elit sit amet pellentesque. Donec iaculis pulvinar </p>
							</div>
						</div>
						<div id="footer_column2">
							<h3>Share with Others</h3>
							<div class="footer_text">
								<div class="foot_pad">
			                   		<div class="link1"><a href="#">Subscribe to Blog</a></div>
			                        <div class="link2"><a href="#">Be a fan on Facebook</a></div>
			                        <div class="link3"><a href="#">RSS Feed</a></div>
			                        <div class="link4"><a href="#">Follow us on Twitter</a></div>
			                    </div>
							</div>
						</div>
						<div id="footer_column3">
							<h3>Useful Resources</h3>
							<div class="footer_text">
								<div class="foot_pad">
			                    	<ul class="ls">
			                        	<li><a href="#">Lorem ipsum dolor</a></li>
			                            <li><a href="#">Maecenas in turpis </a></li>
			                            <li><a href="#">Morbi fringilla libero</a></li>
			                            <li><a href="#">In venenatis metus vel </a></li>
			                            <li><a href="#">Donec cursus quam ac </a></li>
			                        </ul>
			                    </div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
			<div id="footer_bot">
				<p>Copyright  2011. <!-- Do not remove -->Designed by <a href="http://www.myfreecsstemplates.com/" title="Free CSS Templates">Free CSS Templates</a><!-- end --></p>
				<p><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
			</div>

</body>
</html>