/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*{
    margin: 0px;
    padding: 0px;
}

img, fieldset{
    padding: 0px;
    border: none;
	margin: 0px;
	line-height: 0px;
}

a{
    color: #666666;
    text-decoration: none;
	font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

body{	
    font: 12px/18px Arial, Helvetica, sans-serif;
    color: #666666;
    background: url(images/bg.png);
}

h2{
	font: 18px Arial, Helvetica, sans-serif;
	line-height: 30px;
	color: #ac2700;
	font-weight: normal;
	padding-bottom: 15px;
}

.read{
	text-align: right;
	padding-right: 5px;
}

.read a{
	font-weight: bold;
	color: #ac2700;
}

.read a:hover{
	color: #000000;
}

#bg_top{
	background: url(images/bg_top.png) no-repeat top center;
}

.clear{
	clear: both;	
}

/*
	menu
*/

#menu{
	width: 725px;
	margin: 0 auto;
	padding-top: 26px;
}

#menu ul{
	padding-left: 0px;
    list-style: none;
}

#menu ul li{
	display: inline;
}

#menu ul li a{
	font: 18px  Arial, Helvetica, sans-serif;
    color: #ffffff;
	text-align: center;
    font-weight: normal;
    text-decoration: none;
    display: block;
	float: left;
    width: 132px;
    height: 42px;
	line-height: 42px;
	background: url(images/menu_bg.png) no-repeat top left;
	margin-right: 16px;
}

#menu ul li a.last_menu{
	margin-right: 0px;
}

#menu ul li a:hover,  #menu ul li .active{
	color: #ffffff;
	background: url(images/menu_hover.png) no-repeat top left;
}


/*
	prew_box
*/

#prew_box{
	padding: 31px 0px 0px 0px;
	width: 972px;
	margin: 0 auto;
}


#prew_but_bg{
	height: 35px;
}

#prew_but_bg ul{
	padding-left: 0px;
	padding-top: 5px;
    list-style: none;
	width: 125px;
	margin: 0 auto;
}

#prew_but_bg ul li{
	display: inline;
}

#prew_but_bg ul li a{
    text-decoration: none;
    display: block;
    float: left;
	width: 21px;   	
    height: 19px;
	margin-right: 4px;
	background: url(images/prew_but.png) no-repeat top left;
}

#prew_but_bg ul li a:hover,  #prew_but_bg ul li .active{
	background: url(images/prew_active.png) no-repeat top left;
}

/*
	column 3 box
*/

#column_box{
	background: #ffffff;
	margin: 0px 22px 20px 16px;
}

#column_box h2{
	line-height: 18px;
}

#column_box p{
	font: 11px Arial, Helvetica, sans-serif;
	color: #666666;
}

#bg_left{
	background: url(images/st_left.jpg) no-repeat top left;
	float: left;
	width: 46px;
	height: 149px;
}


#column1, #column2, #column3{
	float: left;
	width: 225px;
	height: 119px;
	padding: 20px 45px 10px 20px;
}

#column1, #column2{
	background: url(images/st_center.jpg) no-repeat top right;
}

#column3{
	background: url(images/st_right.jpg) no-repeat top right;
}

/*
	content background
*/

#content_bg{
	background: url(images/content_bg.jpg);
}

#content{
	width: 954px;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 30px;
	background: url(images/footer_grad.png) no-repeat top center;
}

#content_left{
	float: left;
	width: 567px;
}

.news{
	background: url(images/border.gif) repeat-x bottom;
	padding: 0px 10px 0px 10px;
}

.news_last{
	padding: 0px 10px 30px 10px;
}

.news_left{
	float: left;
	width: 240px;	
}

.news_right{
	float: right;
	width: 256px;	
}

#content_right{
	float: right;
	width: 379px;
}

#content_right h2{
	text-align: center;
}

.border{
	background: url(images/bor_bot.gif) repeat-x bottom;
	height: 25px;
	margin-bottom: 15px;
}

.ls1{
    list-style: none;
    padding-left: 0px;
}

.ls1 li{
    background: url(images/ls2.gif) no-repeat 0px 6px;
    margin-bottom: 8px;
    padding-left: 15px;
}



/*
	footer_top
*/

#footer_top{
	width: 841px;
	margin: 0 auto;
	padding-top: 25px;
	background: url(images/footer_top_border.png) no-repeat bottom left;
	position: relative;
}
#footer_top h3{
	font: 18px Arial, Helvetica, sans-serif;
	color: #ac2700;
	font-weight: normal;
	padding-left: 15px;
	padding-bottom: 4px;
}

#footer_top a{
	color: #ffffff;
	font-weight: bold;
}

#footer_top a:hover{
	color: #ac2700;
}

#footer_top p{
	color: #ffffff;
	line-height: 20px;
}

#footer_column1, #footer_column2, #footer_column3{
	width: 226px;
	float: left;
}

.footer_text{
	background: url(images/footer_top_border.png) no-repeat top left;
	width: 226px;
	padding: 10px 0px 10px 0px;
}

#footer_column2{
	padding: 0px 87px 0px 75px;
}

.foot_pad{
    padding-left: 45px;
	padding-top: 10px;
}

.link1{
    background: url(images/link1.png) no-repeat 0px 2px;
    padding-left: 30px;
    min-height: 18px;
    padding-bottom: 10px;
}

.link2{
    background: url(images/link2.png) no-repeat 0px 2px;
    padding-left: 30px;
    min-height: 18px;
    padding-bottom: 10px;
}

.link3{
    background: url(images/link3.png) no-repeat 0px 2px;
    padding-left: 30px;
    min-height: 18px;
    padding-bottom: 10px;
}

.link4{
    background: url(images/link4.png) no-repeat 0px 2px;
    padding-left: 30px;
    min-height: 18px;
    padding-bottom: 10px;
}

.ls{
    list-style: none;
    padding-left: 0px;
}

.ls li{
    background: url(images/ls1.gif) no-repeat 0px 6px;
    margin-bottom: 8px;
    padding-left: 15px;
}

/*
	footer_bot
*/

#footer_bot{
	padding: 25px;
	text-align: center;
}

#footer_bot a, #footer_bot p{
	color: #ffffff;
}


/*
scroll styles here
*/

.item { width: 972px; height: 263px;}
.item img {float:left;}
.item h2 { border:none; margin-bottom:15px;}

.scrollable { position:relative; overflow:hidden; width: 972px; height: 263px;} 
.scrollable .items { width:20000em; position:absolute;}
.scrollable .items div { float:left;} 
.scrollable .items .item { overflow:hidden;}
.scrollable .items .item p { line-height:16px;}
.navi { width:auto; height:20px;  margin: 15px 0; padding-left: 460px;} 
.navi a { width: 24px; cursor:pointer; height: 22px; float:left; margin:0 0 0 3px; background:url(images/prew_but.png) no-repeat scroll top; display:block; font-size:1px;} 
.navi a:hover, .navi a.active { background-position:left top; margin:0 0 0 3px;  background:url(images/prew_active.png) no-repeat scroll top}

.header1
{
width: 972px; height: 263px;
}

.header2
{
width: 972px; height: 263px;
}

.header3
{
width: 972px; height: 263px;
}

.header4
{
width: 972px; height: 263px;
}

/* ------------------------------------------------------------------------
DO NOT CHANGE
------------------------------------------------------------------------- */


div.pp_overlay {background: #000;display: none;left: 0;position: absolute;top: 0;width: 100%;z-index: 9500;}
div.pp_pic_holder {display: none;position: absolute;width: 100px;z-index: 10000;}

