<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head></h:head> 

<body> 
<p:layout fullPage="true">  
 <p:layoutUnit position="north" size="120" resizable="true" closable="false" collapsible="false">  
     <div id="topHeaderPan">
 <center>
    <a href="index.html"><img src="imageCOM/banner2.png" title="Blog Division" alt="Blog Division" width="1097" height="80" border="0" /></a></center> </div>
  
     <p:commandLink value="Log Out"  actionListener="#{createSolution.dopage}"></p:commandLink> 
    </p:layoutUnit>  
  
   
  
    <p:layoutUnit position="center" size="350">  
           <h:form >
<center>
<h2>Challenge Management</h2>
		<p:dataTable border="2" value="#{adminProject.dataModel}" var="project" paginator="true" rows="10" >
		
			<p:column>
				<f:facet name="header">
					<h:outputText value="title" />

				</f:facet>
				<h:outputText value="#{project.title}" />
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="award" />

				</f:facet>
				<h:outputText value="#{project.award}" />
			</p:column>
				<p:column>
				<f:facet name="header">
					<h:outputText value="description" />

				</f:facet>
				<h:outputText value="#{project.description}" />
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="startDate" />

				</f:facet>
				<h:outputText value="#{project.startDate}" />
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="deadLine" />

				</f:facet>
				<h:outputText value="#{project.deadeLine}" />
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="contest" />

				</f:facet>
				<h:outputText value="#{project.contest}" />
			</p:column>
		<p:column>
				<f:facet name="header">
				 
				</f:facet>
		<p:commandButton  value="accept" actionListener="#{adminProject.updateChallengeTrue}" />
			</p:column>
			<p:column>
				<f:facet name="header">
				 
				</f:facet>
		<p:commandButton  value="refuse" actionListener="#{adminProject.updateChallengeFalse}" />
			</p:column>
		</p:dataTable>
		
		</center>
    </h:form>
    
    </p:layoutUnit>  
      <p:layoutUnit position="south" size="50"  resizable="false" closable="false" collapsible="false">  
        <h:outputText value="South unit content." />  
    </p:layoutUnit>  
</p:layout>  

     
</body> 
</html>
