<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fb="https://www.facebook.com/2008/fbml"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head></h:head> 



  
   
  
   
  




<body> 
<p:layout style="min-width:400px;min-height:200px;" id="layout">  
 <p:layoutUnit position="north" size="120" resizable="true" closable="false" collapsible="false">  
     <div id="topHeaderPan">
 <center>
    <a href="index.html"><img src="imageCOM/banner2.png" title="Blog Division" alt="Blog Division" width="1097" height="80" border="0" /></a></center> </div>
  
   
    </p:layoutUnit>  
  
    <p:layoutUnit position="west" resizable="true" size="700" minSize="140" maxSize="700">  
     <h:form>
 	
 <center>
 	<p:panelGrid columns="2">
 	    <f:facet name="header">  
       ENTER YOUR INFORMATIONS
    </f:facet>  
               
 		        <h:outputLabel  value="First Name :" />
 		        <p:inputText value="#{beanregister.user.firstName}" id="first"  required="true" requiredMessage="First name is required   ">
 		        <f:ajax event="blur" render="mfirst"></f:ajax> 
                </p:inputText>
               
 		        
				<h:outputLabel  value="Last Name :" />
				<p:inputText value="#{beanregister.user.lastName}"  id="last" required="true"  requiredMessage="Last name is required   ">
				 <f:ajax event="blur" render="mlast"></f:ajax> 
                </p:inputText>
             
				
				<h:outputLabel  value="Login :" />
				<p:inputText value="#{beanregister.user.login}" id="login" required="true" requiredMessage="login is required">
				 <f:ajax event="blur" render="mlogin"></f:ajax> 
				 </p:inputText>
				
				<h:outputLabel  value="Password :" />
				<p:password value="#{beanregister.user.password}" id="pass" required="true" requiredMessage="password is required">
				 <f:ajax event="blur" render="mpass"></f:ajax> 
				 </p:password>
				
				<h:outputLabel  value="Fields of interest :" />
				<p:inputText value="#{beanregister.user.interestField}" />
				
			
				<p:growl id="msg" />  
  
    <h:panelGrid columns="4" style="margin-bottom:10px" cellpadding="5">  
  
        <h:outputText value="PHP " />  
        <p:selectBooleanCheckbox value="#{beanregister.phpvalue1}" >  
     <p:ajax update="msg" listener="#{beanregister.addMessagephp}"/>  
     </p:selectBooleanCheckbox>  
        <h:outputText value="JAVA " />  
        <p:selectBooleanCheckbox value="#{beanregister.javavalue4}" >  
            <p:ajax update="msg" listener="#{beanregister.addMessage}"/>  
        </p:selectBooleanCheckbox>  
          <h:outputText value=".NET " />  
        <p:selectBooleanCheckbox value="#{beanregister.netvalue2}">  
            <p:ajax update="msg" listener="#{beanregister.addMessagenet}"/>  
        </p:selectBooleanCheckbox>  
    <h:outputText value="C++ " />  
        <p:selectBooleanCheckbox value="#{beanregister.cvalue3}">  
            <p:ajax update="msg" listener="#{beanregister.addMessagec}"/>  
        </p:selectBooleanCheckbox>  
          <h:outputText value="SOFTWARE " />  
        <p:selectBooleanCheckbox value="#{beanregister.softwaretvalue5}">  
            <p:ajax update="msg" listener="#{beanregister.addMessagesoft}"/>  
        </p:selectBooleanCheckbox>  
          <h:outputText value="HARDWARE " />  
        <p:selectBooleanCheckbox value="#{beanregister.hardwarevalue6}">  
            <p:ajax update="msg" listener="#{beanregister.addMessagehard}"/>  
        </p:selectBooleanCheckbox>  
  </h:panelGrid>  
  
   
    
				
				 <f:facet name="footer">  
		<p:commandButton actionListener="#{beanregister.createUser}" value="Save" icon="ui-icon-check" style="margin:0" />
				</f:facet>
			
 	</p:panelGrid>
 		 
 </center>
<center> <h:message  for="first" id ="mfirst"/></center>
       <center> <h:message  for="last" id ="mlast"/></center>
        <center> <h:message  for="login" id ="mlogin"/></center>
         <center> <h:message  for="pass" id ="mpass"/></center>
 </h:form>
    </p:layoutUnit>  
  
    <p:layoutUnit position="center">  
    
            <h:form id="loginForm">
  <center>
      <p:growl id="growl" globalOnly="true"></p:growl>
  
    <p:panel header="Login">
  
      <h:panelGrid id="loginPanel" columns="2">
  
        <h:outputText value="Username" />
  
        <p:inputText id="username" value="#{loginbean.loginP}" required="true" requiredMessage="login is required">
         <f:ajax event="blur" render="musername"></f:ajax> 
        
        </p:inputText>
  
        <p:spacer></p:spacer>
  
        <p:message for="username" ></p:message>
  
        <h:outputText value="Password" />
  
        <p:password id="password" value="#{loginbean.passP}" required="true" feedback="false" requiredMessage="password is required">
        <f:ajax event="blur" render="mpassword"></f:ajax> 
        </p:password>
  
        <p:spacer></p:spacer>
  
        <p:message for="password"></p:message>
  
        <p:spacer></p:spacer>
  
      <div id="DivLogin"><fb:login-button perms="publish_stream,email,user_website" onlogin="facebook_onlogin();">Login with Facebook</fb:login-button> </div>   <p:commandButton  action="#{loginbean.doLogin}" value="Login" update="loginForm" ajax="true" >


        
        <f:ajax event="mouseover" execute="@form" render="@form"></f:ajax>
        </p:commandButton>
        <p></p>

<p></p>
      </h:panelGrid>
    
    </p:panel>
    <p>
    </p>
      <center> <h:message  for="username" id ="musername"/></center>
         <center> <h:message  for="password" id ="mpassword"/></center>
     </center>

<div id="fb-root"></div>

<script src="http://connect.facebook.net/en_US/all.js"></script>
 

<script>
 FB.init({
	 appId : '192523130891995',
          status  : true, // check login status
          cookie  : true, // enable cookies to allow the server to access the session
          xfbml   : true // parse XFBML
        });
 
  //This function fires when visitor login to facebook
  //What I do here is refresh the page to see if the visitor has login to facebook
  var facebook_onlogin = function(origin){
   document.location.href = "http://www.mylovelystory.com/index.html";
    
  };
   
  //Here, Check if the use has login to facebook, or not
  FB.getLoginStatus(function(response) {
    if (response.session) {
   //Session exist, user has login to facebook!
   //Grab the access token
   var access_token = response.session.access_token;
   //Here I grab the name and email of the visitor from facebook
   FB.api('/me', function(response) {
    if ( typeof response.first_name != "undefined"){firstname = response.first_name;}
    if ( typeof response.middle_name != "undefined"){middlename = response.middle_name;}
    if ( typeof response.last_name != "undefined"){lastname = response.last_name;}
    if ( typeof response.email != "undefined"){email = response.email;}  
   });
    
   //the following line hide the login button
   document.getElementById('DivLogin').innerHTML = "";
 
    } else {
   //User did not login, do nothing
   //the following line shows the logged user facebook profile picture
   document.getElementById('DivLogged').innerHTML = "";
    }
  });
   
</script>









     
    </h:form>
    </p:layoutUnit>  
   
</p:layout>  
</body> 
</html>
