<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head></h:head> 
<body> 

   
  <p:layout fullPage="true">  
  
    <p:layoutUnit position="north" size="140" resizable="true" closable="false" collapsible="false">  
     <div id="topHeaderPan">
 <center>
    <a href="index.html"><img src="imageCOM/banner2.png" title="Blog Division" alt="Blog Division" width="1097" height="80" border="0" /></a></center> </div>
  
   <p:commandLink value="Log Out"  actionListener="#{createSolution.dopage}"></p:commandLink> 
  
    </p:layoutUnit>  
  
    <p:layoutUnit position="south" size="50"  resizable="false" closable="false" collapsible="false">  
        <h:outputText value="South unit content." />  
    </p:layoutUnit>  
  
    <center><p:layoutUnit position="west" size="410"  header="Create Solution" resizable="true" closable="true" collapsible="true">  
 
    <br></br>
     <br></br>
      <br></br>
   

<h:form enctype="multipart/form-data" onsubmit="#{createSolution.getid()}">
 
 	<p:panelGrid columns="2">
 	    <f:facet name="header">  
         ENTER YOUR INFORMATIONS
    </f:facet>  
               
<h:outputLabel value="Description:" style="FONT-WEIGHT: bold;"/>
<p:inputTextarea value="#{createSolution.solution.description}" />

<h:outputLabel value="Agree Condition:" style="FONT-WEIGHT: bold;"/>
<p:selectBooleanCheckbox value="#{createSolution.solution.acceptCondition}"> <h:link value="Please read the Condition "/> <p></p> </p:selectBooleanCheckbox>
<h:outputLabel value="solution File:" style="FONT-WEIGHT: bold;"/>   
<p:growl id="messages" showDetail="true"/>  
<p:messages showDetail="true"/>
<p:fileUpload value="#{createSolution.uploadedFile}" mode="simple" />  

<f:facet name="footer">  
<p:commandButton value="Submit" ajax="false"  actionListener="#{createSolution.upload}"/>  
</f:facet>
 	</p:panelGrid>
</h:form>
    </p:layoutUnit>   </center>

    <p:layoutUnit position="center">  
     
  
         <h:form id="form" >
 <center>
 <p:panel>
 <p:dataTable var="us" value="#{createSolution.dataModel}"  paginator="true" rows="10" >    
   
        <p:column headerText="Solution Description">  
            <h:outputText value="#{us.description}" />  
        </p:column>  
 
<p:column headerText="Download File"> 
               <center>
                <p:commandButton ajax="false" actionListener="#{createSolution.prepareFile(us)}" value="download">
               
                    <p:fileDownload value="#{createSolution.file}"/>
               </p:commandButton>
               </center>
            </p:column>
            <p:column headerText="Rate">
            <p:growl id="messages" showDetail="false"/>  
   
  
        <h:outputText value="Rate:" />  
         
        <p:rating value="#{us.feedbacks}">  
            <p:ajax event="rate" listener="#{createSolution.onrate}" update="messages" />  
            <p:ajax event="cancel" listener="#{createSolution.oncancel}" update="messages" />  
        </p:rating>  
            </p:column>
            <p:column headerText="Delete">
            <p:commandButton value="delete" action="#{createSolution.deleteEmployee}"/>
            </p:column>
         
    </p:dataTable> 
    </p:panel>
    <h:form enctype="multipart/form-data">  
  
    <p:messages showDetail="true"/>  
  
    <p:fileUpload value="#{createSolution.uploadedFile}" mode="simple"/>  
  
    <p:commandButton value="Upload winner solution to Dropbox" ajax="false"  
                actionListener="#{createSolution.winnerDrop}"/>  
  
</h:form>  
   
    </center>

  
    </h:form>
       <script type="text/javascript">  
function start() {  
    statusDialog.show();  
}  
  
function stop() {  
    statusDialog.hide();  
}  
        </script> 
    
  
    </p:layoutUnit>  
  
</p:layout>  

</body> 
</html>
