<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head></h:head> 
<body> 
<h:form  onsubmit="#{createChallenge.getid()}">


 
 	<p:panelGrid columns="2">
 	    <f:facet name="header">  
       ENTER YOUR INFORMATIONS
    </f:facet>  
               
 		     <h:outputLabel value="TitleChallenge :" />
<p:inputText value="#{createChallenge.challenge.titleChallenge}" />
<h:outputLabel value="AwardChallenge :" />
<p:inputText value="#{createChallenge.challenge.awardChallenge}" />
<h:outputLabel value="StartDate :" />
<p:inputText value="#{createChallenge.challenge.startDate}" />
<h:outputLabel value="DeadeLine :" />
<p:inputText value="#{createChallenge.challenge.deadeLine}" />

				
				 <f:facet name="footer">  
		<p:commandButton  actionListener="#{createChallenge.createChallenge}" value="Save" icon="ui-icon-check" style="margin:0" />
				</f:facet>
 	</p:panelGrid>
</h:form>
</body> 
</html>
