<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head></h:head> 
<body> 

<p:layout fullPage="true">  
  
    <p:layoutUnit position="north" size="140" resizable="true" closable="false" collapsible="false">  
     <div id="topHeaderPan">
 <center>
    <img src="imageCOM/banner2.png" title="Blog Division" alt="Blog Division" width="1097" height="80" border="0" /></center> </div>
  
     <p:commandLink value="Log Out"  actionListener="#{createSolution.dopage}"></p:commandLink> 
   
    </p:layoutUnit>  
  
    <p:layoutUnit position="south" size="50"  resizable="false" closable="false" collapsible="false">  
 
        <h:outputText value="South unit content." />  
    </p:layoutUnit>  
       <h:form onsubmit="#{invitebeanPrime.reciveInvitaion()}">   
    <p:growl id="growl" showDetail="true" sticky="true" />  
    </h:form>
   <p:layoutUnit position="west" size="410" header="Create Project" resizable="true" closable="true" collapsible="true">  
         
          <br></br>
     <br></br>
      <br></br>
       <h:form  onsubmit="#{createProject.getid()}">


 
 	<p:panelGrid columns="2">
 	    <f:facet name="header">  
         ENTER YOUR INFORMATIONS
    </f:facet>  
               
<h:outputLabel value="Title:" style="FONT-WEIGHT: bold;"/>
<p:inputText value="#{createProject.project.title}" />

<h:outputLabel  value="Award:" style="FONT-WEIGHT: bold;"/>
<p:inputText value="#{createProject.project.award}" />

  <h:outputLabel value="Description:" style="FONT-WEIGHT: bold;"/>
 <p:inputText value="#{createProject.project.description}" />
 
<h:outputLabel value="StartDate:" style="FONT-WEIGHT: bold;"/>
  <p:calendar value="#{createProject.date1}" id="popupCal" />  
  
  
<h:outputLabel value="DeadeLine:" style="FONT-WEIGHT: bold;"/>
  <p:calendar value="#{createProject.date2}" id="popupCal2" >  
    <f:convertDateTime pattern="dd/MM/yyyy" />
  </p:calendar>

			<p:growl id="msg" />  
  
    <h:panelGrid columns="4" style="margin-bottom:10px" cellpadding="5">  
  
        <h:outputText value="PHP " />  
        <p:selectBooleanCheckbox value="#{beanregister.phpvalue1}" >  
     <p:ajax update="msg" listener="#{beanregister.addMessagephp}"/>  
     </p:selectBooleanCheckbox>  
        <h:outputText value="JAVA " />  
        <p:selectBooleanCheckbox value="#{beanregister.javavalue4}">  
            <p:ajax update="msg" listener="#{beanregister.addMessage}"/>  
        </p:selectBooleanCheckbox>  
          <h:outputText value=".NET " />  
        <p:selectBooleanCheckbox value="#{beanregister.netvalue2}">  
            <p:ajax update="msg" listener="#{beanregister.addMessagenet}"/>  
        </p:selectBooleanCheckbox>  
    <h:outputText value="C++ " />  
        <p:selectBooleanCheckbox value="#{beanregister.cvalue3}">  
            <p:ajax update="msg" listener="#{beanregister.addMessagec}"/>  
        </p:selectBooleanCheckbox>  
          <h:outputText value="SOFTWARE " />  
        <p:selectBooleanCheckbox value="#{beanregister.softwaretvalue5}">  
            <p:ajax update="msg" listener="#{beanregister.addMessagesoft}"/>  
        </p:selectBooleanCheckbox>  
          <h:outputText value="HARDWARE " />  
        <p:selectBooleanCheckbox value="#{beanregister.hardwarevalue6}">  
            <p:ajax update="msg" listener="#{beanregister.addMessagehard}"/>  
        </p:selectBooleanCheckbox>  
  </h:panelGrid>  
				
				 <f:facet name="footer">  
		<p:commandButton  actionListener="#{createProject.createProject}" value="Save" icon="ui-icon-check" style="margin:0" />
				</f:facet>
 	</p:panelGrid> 
        </h:form>  
    </p:layoutUnit>  
   
  
    <p:layoutUnit position="center">  
     
  
        <p:dataTable var="us" value="#{ProjectManagement.dataModelM}"  paginator="true" rows="10" >    
   
        <p:column headerText="Title:">  
            <h:outputText value="#{us.title}" />  
        </p:column>  
        
         
        <p:column headerText="Award">  
            <h:outputText value="#{us.award}" />  
        </p:column>  
        
              <p:column headerText="Description:">  
            <h:outputText value="#{us.description}" />  
        </p:column>  
         
        <p:column headerText="Start Date">  
            <h:outputText value="#{us.startDate}" />  
        </p:column>  
         
        <p:column headerText="DeadeLine">  
            <h:outputText value="#{us.deadeLine}" />  
        </p:column>  
 
      <p:column headerText="Solution ">  
           <p:commandButton actionListener="#{ProjectManagement.createSolution}" 
            icon="ui-icon-disk" title="Icon Only"/>  
        </p:column> 
             <p:column headerText="Invitation ">  
           <p:commandButton actionListener="#{ProjectManagement.gotoinvite}" 
            icon="ui-icon-disk" value="invite"/>  
        </p:column> 
            
    </p:dataTable> 
    
  
    </p:layoutUnit>  
  
</p:layout>  

</body> 
</html>
