<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head></h:head> 
<body> 
<h:form >
 <p:dataTable var="us" value="#{invitebeanPrime.dataModel}"  paginator="true" rows="10"
                >    
     
     
         
        <p:column headerText="First Name">  
            <h:outputText value="#{us.firstName}" />  
        </p:column>  
 
        <p:column headerText="Last Name">  
            <h:outputText value="#{us.lastName}" />  
        </p:column>  
  
      
 
        <p:column headerText="Interest Field">  
            <h:outputText value="#{us.interestField}" />  
        </p:column>  
        
      <f:facet name="header">  
           Select
        </f:facet>  
  
        <p:column>
			
				  <p:selectBooleanCheckbox value="#{invitebeanPrime.checked}" />
			
		
			</p:column>
  <p:column>

 <p:commandButton
    value="Invite"
 actionListener="#{invitebeanPrime.SelectedList}" />
  </p:column>
    </p:dataTable> 
     
    <p:commandButton 
    value="OK"
 actionListener="#{invitebeanPrime.Apply}" />
  <p:commandButton actionListener="#{invitebeanPrime.select()}"></p:commandButton>
    
    </h:form>
</body> 
</html>
