<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.prime.com.tr/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head></h:head>
<body>
	<h:form>
		<h2>User Management</h2>
		<h:dataTable   border="3"  value="#{invitebean.listUsers}" var="user"  >
		
			<h:column>
				<f:facet name="header">
					<h:outputText value="Name" />

				</f:facet>
				<h:outputText value="#{user.firstName}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value=" Last Name" />

				</f:facet>
				<h:outputText value="#{user.lastName}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Field of interrest" />

				</f:facet>
				<h:outputText value="#{user.interestField}" />
			</h:column>
		<h:column>
				<f:facet name="header">
				 <h:outputText value="select" />
				</f:facet>
			 <h:selectBooleanCheckbox value="#{invitebean.checked[user.idUser]}"  />
			</h:column>
		</h:dataTable>
			<h:commandButton title="selectItems" 
    value="invited "
 actionListener="#{invitebean.SYSSelections}" />
	</h:form>
	
</body>
</html>
