<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head></h:head> 
<body> 

<p:layout fullPage="true">  
  
    <p:layoutUnit position="north" size="140" resizable="true" closable="false" collapsible="false">  
     <div id="topHeaderPan">
 <center>
    <a href="index.html"><img src="imageCOM/banner2.png" title="Blog Division" alt="Blog Division" width="1097" height="80" border="0" /></a></center> </div>
   <p:commandLink value="Log Out"  actionListener="#{createSolution.dopage}"></p:commandLink> 
   
    </p:layoutUnit>  
  
    <p:layoutUnit position="south" size="50"  resizable="false" closable="false" collapsible="false">  
        <h:outputText value="South unit content." />  
    </p:layoutUnit>  
  
   
  
  
    <p:layoutUnit position="center">  
     
  
      <h:form>
 <p:dataTable var="us" value="#{invitebeanPrime.dataModel}"  paginator="true" rows="10"
                >    
     
     
         
        <p:column headerText="First Name">  
            <h:outputText value="#{us.firstName}" />  
        </p:column>  
 
        <p:column headerText="Last Name">  
            <h:outputText value="#{us.lastName}" />  
        </p:column>  
  
      
 
        <p:column headerText="Interest Field">  
            <h:outputText value="#{us.interestField}" />  
        </p:column>  
        
      <f:facet name="header">  
           Select
        </f:facet>  
  
        <p:column>
				<f:facet name="header">
				 
				</f:facet>
		
			</p:column>
  <p:column>

 <p:commandButton title="Apply" 
    value="Invite"
 actionListener="#{invitebeanPrime.SelectedList}" />
  </p:column>
    </p:dataTable> 
     
    <p:commandButton title="Apply" 
    value="OK"
 actionListener="#{invitebeanPrime.Apply}" />
  
    
    </h:form>
  
    </p:layoutUnit>  
  
</p:layout>  

</body> 
</html>
