<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head></h:head> 
<body> 
 <h:form>
 	
 
 	<p:panelGrid columns="2">
 	    <f:facet name="header">  
       ENTER YOUR INFORMATIONS
    </f:facet>  
               
 		        <h:outputLabel  value="First Name :" />
 		        <h:inputText value="#{beanregister.user.firstName}" />
 		        
				<h:outputLabel  value="Last Name :" />
				<p:inputText value="#{beanregister.user.lastName}" />
				
				<h:outputLabel  value="Login :" />
				<p:inputText value="#{beanregister.user.login}" />
				
				<h:outputLabel  value="Password :" />
				<p:password value="#{beanregister.user.password}" />
				
				<h:outputLabel  value="Fields of interest :" />
				<p:inputText value="#{beanregister.user.interestField}" />
				
			
				<p:growl id="msg" />  
  
    <h:panelGrid columns="4" style="margin-bottom:10px" cellpadding="5">  
  
        <h:outputText value="PHP " />  
        <p:selectBooleanCheckbox value="#{beanregister.phpvalue1}" >  
     <p:ajax update="msg" listener="#{beanregister.addMessagephp}"/>  
     </p:selectBooleanCheckbox>  
        <h:outputText value="JAVA " />  
        <p:selectBooleanCheckbox value="#{beanregister.javavalue4}">  
            <p:ajax update="msg" listener="#{beanregister.addMessage}"/>  
        </p:selectBooleanCheckbox>  
          <h:outputText value=".NET " />  
        <p:selectBooleanCheckbox value="#{beanregister.netvalue2}">  
            <p:ajax update="msg" listener="#{beanregister.addMessagenet}"/>  
        </p:selectBooleanCheckbox>  
    <h:outputText value="C++ " />  
        <p:selectBooleanCheckbox value="#{beanregister.cvalue3}">  
            <p:ajax update="msg" listener="#{beanregister.addMessagec}"/>  
        </p:selectBooleanCheckbox>  
          <h:outputText value="SOFTWARE " />  
        <p:selectBooleanCheckbox value="#{beanregister.softwaretvalue5}">  
            <p:ajax update="msg" listener="#{beanregister.addMessagesoft}"/>  
        </p:selectBooleanCheckbox>  
          <h:outputText value="HARDWARE " />  
        <p:selectBooleanCheckbox value="#{beanregister.hardwarevalue6}">  
            <p:ajax update="msg" listener="#{beanregister.addMessagehard}"/>  
        </p:selectBooleanCheckbox>  
  </h:panelGrid>  
  
   
  
				
				 <f:facet name="footer">  
		<p:commandButton actionListener="#{beanregister.createUser}" value="Save" icon="ui-icon-check" style="margin:0" />
				</f:facet>
 	</p:panelGrid>
 
 </h:form>
</body> 
</html>
