<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head></h:head> 

<body> 

<p:layout fullPage="true">  
  
    <p:layoutUnit position="north" size="140" resizable="true" closable="false" collapsible="false">  
     <div id="topHeaderPan">
 <center>
    <a href="index.html"><img src="imageCOM/banner2.png" title="Blog Division" alt="Blog Division" width="1097" height="80" border="0" /></a></center> </div>
  
   
    </p:layoutUnit>  
  
    <p:layoutUnit position="south" size="50"  resizable="false" closable="false" collapsible="false">  
        <h:outputText value="South unit content." />  
    </p:layoutUnit>  
  
   
  
    <p:layoutUnit position="east" size="200" header="Right" resizable="true" closable="true" collapsible="true" effect="drop">  
        <h:outputText value="Right unit content." />  
    </p:layoutUnit>  
  
    <p:layoutUnit position="center">  
     
  
       <h:form id="form" enctype="multipart/form-data"  >
 <center>
 <p:panel>
 <p:dataTable var="us" value="#{createSolution.dataModel}"  paginator="true" rows="10" >    
   
        <p:column headerText="Solution Description">  
            <h:outputText value="#{us.description}" />  
        </p:column>  
 
<p:column headerText="Download File"> 
               <center>
                <p:commandButton ajax="false" actionListener="#{createSolution.prepareFile(us)}" value="download">
               
                    <p:fileDownload value="#{createSolution.file}"/>
               </p:commandButton>
               </center>
            </p:column>
            <p:column headerText="Rate">
            <p:growl id="messages" showDetail="true"/>  
   
  
        <h:outputText value="Rate:" />  
         
        <p:rating value="#{us.feedbacks}">  
            <p:ajax event="rate" listener="#{createSolution.onrate}" update="messages" />  
            <p:ajax event="cancel" listener="#{createSolution.oncancel}" update="messages" />  
        </p:rating>  
            </p:column>
            <p:column headerText="Delete">
            <p:commandButton value="delete" action="#{createSolution.deleteEmployee}"/>
            </p:column>
             <p:column headerText="winner Solution">
   
  
    
      
    
            </p:column>
    </p:dataTable> 
    </p:panel>
<h:form enctype="multipart/form-data">  
  
    <p:messages showDetail="true"/>  
  
    <p:fileUpload value="#{createSolution.uploadedFile}" mode="simple"/>  
  
    <p:commandButton value="Submit(cloud)" ajax="false"  
                actionListener="#{createSolution.winnerDrop}"/>  
  
</h:form>  
    <p:commandButton value="ok" actionListener="#{createSolution.testwinner}"> </p:commandButton>
    </center>

  
    </h:form>
    
       <script type="text/javascript">  
function start() {  
    statusDialog.show();  
}  
  
function stop() {  
    statusDialog.hide();  
}  
        </script> 
    
  
    </p:layoutUnit>  
  
</p:layout>  

</body> 
</html>
