body { 
  background-color: #fdf5e6;
}
a:hover { 
  color: red; 
}
.title { 
  margin-left: auto; 
  margin-right: auto; 
  border-width: 5px;
  border-spacing: 2px;
  border-style: outset;
}
.title th { 
  background-color: #ef8429;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
th { 
  background-color: #ef8429;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
td { 
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
h2 { 
  color: #440000;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
legend {
  font-weight: bold;
  color: black;
  background-color: #eeeeee;
  border: 1px solid #999999;
  padding: 3px 2px;
}
.error {
	font-weight: bold;
	color: red;
}